.jssora05l,.jssora05r,.jssora05ldn,.jssora05rdn{position:absolute;cursor:pointer;display:block;background:url(./img/a17.png) no-repeat;overflow:hidden}
.jssora05l{background-position:-10px -40px}
.jssora05r{background-position:-70px -40px}
.jssora05l:hover{background-position:-130px -40px}
.jssora05r:hover{background-position:-190px -40px}
.jssora05ldn{background-position:-250px -40px}
.jssora05rdn{background-position:-310px -40px}
.jssort01 .w,.jssort01 .c{position:absolute;top:0;left:0}
.jssort01 .w{width:100%;height:100%}
.jssort01 .c{width:72px;height:68px;border:#000 2px solid}
.jssort01 .pav .c{background:url(./img/t01.png) center center;border-width:0;top:2px;left:2px;width:72px;height:68px}
.jssort01 .p:hover .c{background:url(./img/t01.png) center center}
.jssort01 .p:hover .c,.jssort01 .pav:hover .c{top:0;left:0;width:74px;height:70px;border:#fff 1px solid}