.center_list {
  clear: right;
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.center_list > .center_list_child {
  position: relative;
  left: 50%;
  margin-top: 20px;
}

.center_list_item {
  float: left;
  margin: 0 10px;
  list-style: none;
  p {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: black;
  }
  img {
    width: 175px;
  }
}