
.content_block {
  position: relative;
  width: 100%;
  margin: 0;

  .content_container {
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;

    h2 {
      font-weight: bold;
      text-align: center;
      padding: 20px;
      margin: 0;
    }
    h5 {
      font-weight: bold;
      font-style: italic;
      text-align: center;
      padding: 20px;
      margin: 0;
    }
    img {
      float: left;
      position: relative;
      left: 50px;
      width: 400px;
    }

    .info {
      clear: both;
      text-align: center;
      padding: 10px;
      margin: 0;
    }
    .top_feat {
      position: relative;
      float: right;
      right: 50px;
      width: 300px;
      text-align: center;
    }
    table {
      width: 100%;
      margin: 20px;
      position: relative;
      left: 50px;

      td {
        width: 75px;

        img {
          width: 250px;
        }
      }
    }

  }

}

.white {
  background-color: white;
}

.gray {
  background-color: @background-color;
}
