
.design_navbar {

  ul {
    display: table;
    margin: 30px auto;
    list-style-type: none;
    position: relative;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #6e6e6e;
  }

  li {
    float: left;
    position: relative;

    span, a {
      display: block;
      color: white;
      text-align: center;
      text-indent: 15px;
      padding: 10px 10px 10px 1px;
      text-decoration: none;
      width: 175px;
      box-sizing: content-box;
    }

    a {
      span {
        padding: 0;
      }

      b {
        margin-top: -1px;
        text-indent: 0;
      }
    }

    b {
      color: white;
      margin-top: 9px;
      width: 28px;
      padding: 2px;
      text-align: center;
      border-radius: 12px;
      background-color: #ef7f11;
      float: left;
      right: -5%;
      position: relative;
    }


    &.active {
      span, a {
        background-color: #ef7f11;
      }

      b {
        background-color: #48484a;
      }
    }

    &.finished {
      span, a {
        background-color: #48484a;
      }

      a:hover {
        background-color: #111;

        span {
          background-color: transparent;
        }
      }

      b {
        background-color: #6e6e6e;
      }
    }
  }
}

.feature {
  img {
    float: left;
    position: relative;
    left: 50px;
    width: 400px;
  }

  .info {
    clear: both;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .top_feat {
    position: relative;
    float: right;
    right: 50px;
    width: 300px;
    text-align: center;
  }
}