
div.rvgallery {
  margin: 15px 15px;
  float: left;
  width: 300px;

  img {
    width: 100%;
    height: auto;
  }
}

.rvgallerybutton {
  position: absolute;
  background-color: #f7901a;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 5px 10px 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  width: 250px;
  left: -3px;
  margin: 0;
}

.rvgallerygraybar {
  background-color: gray;
  border: 3px solid gray;
  color: white;
  font-weight: bold;
  height: 20px;
  font-size: 12px;
  width: 100%;
}

.rvgallerysortcontainer {
  clear: right;
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.rvgallerysortcontainer > .sort_child {
  position: relative;
  left: 50%;
  background-color: #789174;
  border-radius: 10px;
}

.rvgallerysort {
  position: relative;
  width: 175px;
  display: inline-block;
  margin: 10px;
}

//input[type=text], select {
//    width: 100%;
//    font-size: 12px;
//    display: inline-block;
//    border: 1px solid #ccc;
//    border-radius: 4px;
//    box-sizing: border-box;
//
//}

//label {
//    width: 100%;
//    margin: 0px;
//    box-sizing: border-box;
//    font-weight: bold;
//    text-align: center;
//    color: white;
//
//}

//div.heading{
//text-align: center;
//}