#imageContainer {
  width: 1020px;
  margin: auto;
  height: 100%;
}

.image {
  float: left;
  position: relative;
  text-align: center;
  width: 300px;
  margin: 20px;
  img {
    width: 100%;
  }
  a {
    position: relative;
    text-align: center;
    font-size: 10px;
    p {
      font-size: 14px;
    }
  }
}

.imagefloorplan {
  float: left;
  position: relative;
  text-align: center;
  width: 250px;
  height: 220px;
  margin: 20px 20px 50px;
  border: 3px solid gray;
  img {
    width: 150px;
    height: 194px;
  }
}