
.nav_container {
  //noinspection LessResolvedByNameOnly
  background-color: @background-color;
  position: relative;
  height: 100px;
  width: 100vw;
}

.mm_navbar {
  margin: 30px 0 20px 0;
  position: relative;
  height: 30px;
  float: right;
  left: -50%;
  ul {
    list-style-type: none;
    position: relative;
    left: 50%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6e6e6e;
  }
  li {
    float: left;
    position: relative;
    a {
      display: block;
      color: white;
      text-align: center;
      text-indent: 15px;
      padding: 10px;
      text-decoration: none;
      width: 175px;
    }
    a:hover:not(.active) {
      background-color: #111;
    }
    b {
      color: white;
      margin-top: 9px;
      width: 24px;
      padding: 2px;
      text-align: center;
      border-radius: 12px;
      background-color: #ef7f11;
      float: left;
      right: -5%;
      position: relative;
    }
  }
}

.mobile_navbar {
  margin: 30px 0 20px 0;
  position: relative;
  height: 30px;
  float: right;
  left: -50%;
  ul {
    list-style-type: none;
    position: relative;
    left: 50%;
    border-radius: 10px;
    margin: auto;
    padding: 0;
  }
  li {
    float: left;
    position: relative;
    b {
      color: white;
      margin: 9px 0;
      width: 24px;
      padding: 2px 4px;
      text-align: center;
      border-radius: 12px;
      background-color: #48484a;
      float: left;
      position: relative;
    }
    a {
      margin: 20px 0;
      width: 30px;
      padding: 2px;
      background-color: #48484a;
      float: left;
      position: relative;
    }
      .active {
      background-color: #ef7f11;
    }
  }
}

.active {
  background-color: #ef7f11;
}

.finished {
  background-color: #48484a;
}