.buildstep5 {
  text-align: center;
  background-color: white;
}

.buildstep5financing {
  text-align: center;
}

.quotetitles {
  width: 100px;
  text-align: left;
}

.quotecontent {
  width: 100px;
  text-align: left;
}

.quotephoto {
  width: 620px;
}

.step5button {
  background-color: #ef7f11;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  border-radius: 10px;
  cursor: pointer;
}

div.step4title {
  text-align: center;
  padding: 10px;
}

div.gallery {
  margin: 5px;
  display: block;
  float: left;
  width: 45%;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.options {
  height: 800px;
  display: block;
  text-align: left;
  border: 2px solid gray;
  width: 100%;
}

div.quote {
  display: block;
  width: 100%;
}

.first-row {
  text-align: right;
}




