/* Style the tab */
div.tab {
  overflow: hidden;
  background-color: gray;
}

/* Style the buttons inside the tab */
div.tab button {
  background-color: inherit;
  width: 132px;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: gray;
  color: white;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: white;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0;
  border-top: none;
}