{% extends "index.page.html.twig" %}

{% set menu_subheader  = '' %}

{% block title %}Step1 | The Original RV Wholesalers{% endblock %}
{% block meta_block %}{% endblock %}
{% block additional_links %}{% endblock %}
{% block additional_scripts %}{% endblock %}

{% set content_html %}
    <div class="gray">
        <div class="container">
            {% include 'design_steps_nav.div.html.twig' %}
        </div>
    </div>
    <div class="white">
        <div class="container">
            <h1 style="clear:right"><strong>Select your trailer type</strong></h1>
            <div style="display: table; margin: 0 auto 16px;">

                <!-- row 1 -->
                <div class="center_list">
                    <ul class="center_list_child">
                        <li class="center_list_item">
                            <a href="/design/step2?type=normal&hitch=travel+trailer">
                                <img src="https://images.rvwholesalers.com/categories/sm/travel-trailer.png">
                                <p>Travel Trailer</p>
                            </a>
                        </li>
                        <li class="center_list_item">
                            <a href="/design/step2?type=normal&hitch=fifth+wheel">
                                <img src="https://images.rvwholesalers.com/categories/sm/fifth-wheel.png">
                                <p>Fifth Wheels</p>
                            </a>
                        </li>
                        <li class="center_list_item">
                            <a href="/design/step2?type=toy+hauler&hitch=travel+trailer">
                                <img src="https://images.rvwholesalers.com/categories/sm/toy-hauler-travel-trailer.png">
                                <p>Travel Trailer<br>Toy Haulers</p>
                            </a>
                        </li>
                        <li class="center_list_item">
                            <a href="/design/step2?type=toy+hauler&hitch=fifth+wheel">
                                <img src="https://images.rvwholesalers.com/categories/sm/toy-hauler-5th-wheel.png">
                                <p>Fifth Wheel<br>Toy Haulers</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- row 2 -->
                <div class="center_list">
                    <ul class="center_list_child">
                        <li class="center_list_item">
                            <a href="/design/step2?type=hybrid+camper&hitch=travel+trailer">
                                <img src="https://images.rvwholesalers.com/categories/sm/hybrid-camper.png">
                                <p>Hybrid Trailer</p>
                            </a>

                        </li>
                        <li class="center_list_item">
                            <a href="/design/step2?type=park+trailer&hitch=travel+trailer">
                                <img src="https://images.rvwholesalers.com/categories/sm/park-trailer.png">
                                <p>Park Trailer</p>
                            </a>
                        </li>
                        <li class="center_list_item">
                            <a href="/design/step2?type=motorhome+class+c&hitch=none">
                                <img src="https://images.rvwholesalers.com/categories/sm/motorhome.png">
                                <p>Class Motorhome</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="gray">
        <div class="container feature">
            <h2>Travel Trailer</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/travel-trailer.png">
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer. this is some more information to test this section of the block.
                    This is even more info about it.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container feature">
            <h2>Fifth Wheel</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/fifth-wheel.png" >
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="gray">
        <div class="container feature">
            <h2>Travel Trailer<br>Toy Hauler</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/toy-hauler-travel-trailer.png" >
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container feature">
            <h2>Fifth Wheel<br>Toy Hauler</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/toy-hauler-5th-wheel.png">
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="gray">
        <div class="container feature">
            <h2>Hybrid Trailer</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/hybrid-camper.png">
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="white">
        <div class="container feature">
            <h2>Park Trailer</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/park-trailer.png">
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>
    <div class="gray">
        <div class="container feature">
            <h2>Class C Motorhome</h2>
            <img src="https://images.rvwholesalers.com/categories/lg/motorhome.png">
            <div class="top_feat">
                <h5>Top Features</h5>
                <p>Here is some info about this trailer.</p>
            </div>
            <div class="info">
                <p>Here is some info about this trailer.</p>
            </div>
        </div>
    </div>

{% endset %}
