{% extends "index.page.html.twig" %}

{% set menu_subheader  = '' %}

{% block title %}Step2 | The Original RV Wholesalers{% endblock %}
{% block meta_block %}{% endblock %}
{% block additional_links %}{% endblock %}
{% block additional_scripts %}{% endblock %}

{% set content_html %}
    <div class="gray">
        <div class="container">
            {% include 'design_steps_nav.div.html.twig' %}
        </div>
    </div>
{% endset %}
