<div id="chat-button">
    <a href="javascript:void(window.open('https://chat.rvwholesalers.com/chat.php?acid=328e8','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))"
       class="lz_cbl">
        <img id="chat_button_image"
             src="https://chat.rvwholesalers.com/image.php?acid=8df4c&amp;id=1&amp;type=overlay"
             width="37" height="123" style="border:0;" alt="Live Chat">
    </a>
    <img src="https://chat.rvwholesalers.com/server.php?acid=84390&amp;request=track&amp;output=nojcrpt&amp;fbpos=10&amp;fbml=0&amp;fbmt=0&amp;fbmr=0&amp;fbmb=0&amp;fbw=37&amp;fbh=123"
         width="0" height="0" style="visibility:hidden;" alt="">
</div>
