<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 copyright">
                    &copy; {{ now | date('Y') }} RV Wholesalers LLC.<br>All Rights Reserved.<br>
                    rvwholesalers.com is solely owned by RV Wholesalers LLC and is used with permission by Durnell's
                    Indian Hallow RV Sales Inc.<br><br>
                    <a href="~/terms/">Terms of Use &amp; Privacy Policy</a>
                </div>
                <div class="col-sm-2">
                    <ul class="menu">
                        <li><a class="footer-block-title" href="http://www.rvwholesalers.com/design/design.php">RV
                                Types</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/travel-trailers.php">Travel Trailer</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/fifth-wheels.php">Fifth Wheel</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/hybrid-campers.php">Hybrid</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/toy-haulers-travel-trailer.php">Toy Hauler
                                Travel Trailer</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/toy-haulers.php">Toy Hauler Fifth Wheel</a>
                        </li>
                        <li><a href="http://www.rvwholesalers.com/design/park-trailers.php">Park Trailer</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/motorhomes.php">Diesel Motorhome</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/gas-motorhomes.php">Gas Motorhome</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="menu">
                        <li><a class="footer-block-title" href="http://www.rvwholesalers.com/design/design.php">RV
                                Manufacturers</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/forestriver.php">Forest River</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/keystone_rv.php">Keystone</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/heartlandrv.php">Heartland</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/fleetwood-rv.php">Fleetwood</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/palomino.php">Palomino</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/gulfstream.php">Gulf Stream</a></li>
                        <li><a href="http://www.rvwholesalers.com/design/winnebago.php">Winnebago</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="menu">
                        <li><a class="footer-block-title" href="https://www.rvwholesalers.com/financing/">RV Financing</a></li>
                        <li><a class="footer-block-title" href="http://www.rvwholesalers.com/RVW_Nationwide_Service_Network/">RV Service</a></li>
                        <li><a class="footer-block-title" href="~/warranty/">RV Warranty</a></li>
                        <li><a class="footer-block-title" href="http://www.rvwblog.com/">Blog</a></li>
                        <li><a class="footer-block-title" href="http://www.rvwholesalers.com/about/">Contact Us</a></li>
                        <li><a class="footer-block-title" href="~/terms/">Terms &amp; Privacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="menu">
                        <p style="margin: 0" class="footer-block-title">Connect with us</p>
                        <div style="display: inline-block; margin-right: 26px">
                            <a class="btn-social-icon" href="https://www.facebook.com/rvwholesalers" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-facebook"></i></div>Facebook
                            </a>
                            <a class="btn-social-icon" href="http://www.youtube.com/user/rvwholesalerscom" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-youtube-play"></i></div>YouTube
                            </a>
                            <a class="btn-social-icon" href="https://www.instagram.com/rvwholesalers/?hl=en" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-instagram"></i></div>Instagram
                            </a>
                        </div>
                        <div style="display: inline-block">
                            <a class="btn-social-icon" href="https://www.pinterest.com/rwholesalers/" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-pinterest-p"></i></div>Pinterest
                            </a>
                            <a class="btn-social-icon" href="https://plus.google.com/+RVWholesalers" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-google"></i></div>Google+
                            </a>
                            <a class="btn-social-icon" href="https://twitter.com/rvwholesalers" itemprop="sameAs" target="_blank">
                                <div><i class="fa fa-twitter"></i></div>Twitter
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="center">
                    <div style="text-align: left; display: inline-block;">
                        <address>
                            <span>530 North Main Street, Lakeview, OH 43331</span>
                            &ensp;&dash;&ensp;<span style="white-space: nowrap">Call Us Toll Free&ensp;<a href="tel:{{ TOLL_FREE }}">{{ TOLL_FREE | phone_format('.') }}</a></span>
                            &ensp;&dash;&ensp;<span style="white-space: nowrap">Local&ensp;<a href="tel:{{ PHONE_NUMBER }}">{{ PHONE_NUMBER | phone_format('.') }}</a></span></address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
