<header>
    <div class="header">
        <div>
            <div class="container">
                <table class="contact-info">
                    <tr>
                        <td class="map-icon"><img src="~/static/img/location.svg" style="height: 26px;"></td>
                        <td><a href="https://www.google.com/maps/place/RV+Wholesalers/@40.4924251,-83.9302105,17z/data=!3m1!4b1!4m5!3m4!1s0x883edfe1a910496b:0x20aed6f238b63d22!8m2!3d40.492421!4d-83.9280218"
                               title="Open in Google Maps" style="color: inherit;"><address>{{ STREET_ADDRESS }}<br>{{ CITY_STATE_ZIP }}</address></a></td>
                        <td class="phone-icon"><img src="~/static/img/phone.svg" style="height: 26px;"></td>
                        <td><span class="phone"><a href="tel:{{ TOLL_FREE }}" style="color: inherit;">{{ TOLL_FREE | phone_format('-') }}</a></span></td>
                    </tr>
                </table>
                <a class="logo" href="~/"><img src="~/static/img/logo-black.png"></a>
            </div>
        </div>
        <div class="header-highlight">
            <div class="container">
                <div class="search">
                    <input id="simple-search" type="text" placeholder="ENTER KEYWORD OR ITEM NUMBER" style="width: 300px; float: left;"><button id="simple-search-button" class="yellow" style="height: 28px; float: left">SEARCH</button>
                </div>
                <div class="title serif">
                    America's Local RV Dealer
                </div>
            </div>

        </div>
        <div class="header-menu">
            <div class="container">

                {% if menu %}
                    <nav>
                        <ul class="menu">
                            {% for m in menu %}
                                {{ include('menu_item.li.html.twig', {menu_item: m, active_menu: active_menu}, with_context = false) }}
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
</header>
{% if menu %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="slide-container">
            <div class="navbar-header">
                <a class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-logo" href="#"><img src="~/static/img/logo-small.png"></a>
                <a class="navbar-brand" href="#">RV Wholesalers</a>
            </div>
            <div id="slidemenu">
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <input type="search" placeholder="search" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <ul class="nav navbar-nav">
                    {% for m in menu %}
                        {{ include('slideout_menu_item.li.html.twig', {menu_item: m, active_menu: active_menu}, with_context = false) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
