<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block description %}America's Local RV Dealer. Located in Lakeview, OH, and online at rvwholesalers.com.{% endblock %}">
    <meta name="author" content="RV Wholesalers">
    <meta name="verify-v1" content="6iCKXPw4xuLTkV+6seJmdEviJvoJQybOECYU4auxM+Y=">
    <meta name="google-site-verification" content="tT3Im916Z9f2gFsDNcm000WqcDN6WS0CFgxFxHCNplU"/>
    <meta name="globalsign-domain-verification" content="8PnjCAkSRLThJ_QV-4eHpo5wPFyIesCmioTvGfFWua"/>
    <link rel="icon" href="{{ WEB_ROOT }}/favicon.ico">
    <title>{% block title %}RV Wholesalers{% endblock %}</title>

    {% block meta_block %}{% endblock %}

    <link href="{{ WEB_ROOT }}/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ WEB_ROOT }}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ WEB_ROOT }}/css/styles.css?v={{ date().timestamp }}" rel="stylesheet" type="text/css">
    {% block additional_links %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    {% include 'google_analytics.script.html.twig' %}
    <script type="text/javascript">
        function setImageSource(img, new_url) {
            img.onerror = null;
            img.addEventListener('error', function() {setImageSource(this, 'https://images.rvwholesalers.com/floorplans/no-floorplan.gif')});
            img.src = new_url;
        }
    </script>
</head>

<body role="document">
{% include 'header.div.html.twig' %}
<div id="gray_cover"></div>
<div id="page-content" class="theme-showcase" role="main">
    {% if menu_subheader %}{% include menu_subheader %}{% endif %}
    {% if content_template is not empty %}{% include content_template %}{% endif %}
    {% if content_html is not empty %}{{ content_html }}{% endif %}
</div>
{% include 'footer.nav.html.twig' %}
{% include 'chat.div.html.twig' %}
<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages loads faster -->
<script src="{{ WEB_ROOT }}/static/jquery/jquery.min.js" type="text/javascript"></script>
<script src="{{ WEB_ROOT }}/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{#<script src="http://analytics.rvw.co/js/analytics.jquery.js" type="text/javascript"></script>#}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ WEB_ROOT }}/static/bootstrap/js/ie10-viewport-bug-workaround.js" type="text/javascript"></script>
<script type="text/javascript">
    var WEB_ROOT = '';
    $().ready(function() {
        WEB_ROOT = '{{ WEB_ROOT }}';
    })
</script>
<script src="{{ WEB_ROOT }}/js/script.min.js?v={{ date().timestamp }}"></script>
{% include 'visual_website_optimizer.script.html.twig' %}
{% include 'facebook_pixel.script.html.twig' %}

{% block additional_scripts %}{% endblock %}
</body>
</html>
