{% if menu_item.href %}
    <li class="{% if active_menu == menu_item.slug %}active{% endif %}{% if menu_item.class %} {{ menu_item.class }}{% endif %}">
        <a href="{{ menu_item.href }}">{{ menu_item.title }}</a>
    </li>
{% elseif menu_item.subitems %}
    <li class="dropdown{% if active_menu == menu_item.slug %} active{% endif %}{% if menu_item.class %} {{ menu_item.class }}{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.title }}<span class="caret"></span></a>
        <ul class="dropdown-menu" style="left: auto;right: 0;">
            {% for subitem in menu_item.subitems %}
                {{ include('menu_item.li.html.twig', {menu_item: subitem, active_menu: active_menu}, with_context = false) }}
            {% endfor %}
        </ul>
    </li>
{% endif %}
