{% if design_step == this_step %}
    <li class="active"><b>{{ this_step }}</b><span>{{ step_text[this_step] }}</span></li>
{% elseif design_step > this_step %}
    <li class="finished"><a href="step{{ this_step }}"><span><b>{{ this_step }}</b>{{ step_text[this_step] }}</span></a></li>
{% else %}
    <li><b>{{ this_step }}</b><span>{{ step_text[this_step] }}</span></li>
{% endif %}