@import 'fonts.less';
@import 'colors.less';

body {
  margin: 0;
  background-color: @background-color;
  text-transform: uppercase;
}

.gray { background-color: @background-color; }
.white { background-color: #fff; }
.black { background-color: #000; }

a {
  color: #131599;
  text-decoration: none;

  &:hover, &:active {
    outline: 0;
  }

  &:hover, &:focus {
    color: #393c99;
    text-decoration: underline
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
  }
}

h1 {
  color: @h1-color;
  text-align: center;
  font-size: 38px;
}

h2 {
  color: @h2-color;
  text-align: center;
  font-size: 34px;
}

p { text-transform: none; }

button.yellow {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 15px !important;
  padding: 2px 12px;
  //text-shadow: 1px 1px 0 #bc6909;
  background: linear-gradient(@orange-button-light, @orange-button-dark);
  cursor: pointer;
  border: 0;

  &:hover {
    background: linear-gradient(@orange-button-dark, @orange-button-dark);
    text-decoration: none;
  }
}

input[type=text] {
  border: none;
  height: 28px;
  padding: 2px 8px;
}

div.container {
  display: table;
  margin: 0 auto;
  position: relative;
}

#page-content {
  //display: table;
  position: relative;
  //margin: 0 auto;

  &.slide-active {
    padding-top: 0
  }
}

.image-float-right {
  float: right;
  max-width: 100%;
  margin: 0 16px;
}

.image-float-left {
  float: left;
  max-width: 100%;
  margin: 0 16px;
}

#chat-button {
  position: fixed;
  height: 123px;
  width: 37px;
  overflow: hidden;
  z-index: 100;
  cursor: move;
  margin: 0;
  opacity: 1;
  left: 0;
  top: 40%;
}

header div.header {
  address { margin: 0; }

  table.contact-info {
    margin: 0 0 0 auto;
    font-size: 14px;
  }
  td.phone-icon {
    padding: 0 12px 0 24px;

    img { height: 26px; }
  }
  td.map-icon {
    padding: 0 12px 0 0;

    img { height: 26px; }
  }

  i.phone, i.map { font-size: 28px; }
  span.phone { font-size: 26px; }

  a.logo {
    position: absolute;
    top: 12px;
    z-index: 50;
  }

  div.header-highlight {
    background-color: @highlight-backcolor;
    height: 56px
  }

  div.header-menu {
    background: linear-gradient(@menu-backcolor-light, @menu-backcolor-dark);
    border-top: 2px solid @menu-backcolor-dark;
  }

  div.search {
    float: right;
    margin: 14px 0 0;

    ::-webkit-input-placeholder { text-align: center; }
    :-moz-placeholder { /* Firefox 18- */ text-align: center; }
    ::-moz-placeholder {  /* Firefox 19+ */ text-align: center; }
    :-ms-input-placeholder { text-align: center; }

    input[type=text] {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
    button {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  div.title {
    float: left;
    margin: 8px 0 0 200px;
    color: #fff;
    font-size: 32px;
    text-transform: none;
  }
}

div.menu-subheader {
  background-color: @background-color;

  ul {
    list-style: outside none none;
    padding: 0;
    margin: 10px 0;
    text-align: center;

    li {
      display: inline-block;
      white-space: nowrap;
      vertical-align: top;
      cursor: pointer;
      height: 110px;

      &:hover {
        background-color: @menu-image-hover-backcolor;
        color: @active-menu-color;
      }

      a {
        color: @gray-text;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;
        padding: 12px 4px;
        height: 100%;

        &:hover {
          text-decoration: none;
          background-color: @menu-image-hover-backcolor;
          color: @active-menu-color;
        }

        img { width: 150px }
      }
    }
  }
}

.chat {
  background: #f29030;
  color: white;
  display: inline-block;
  margin-left: 10px;
  padding: 0;
  border-left: 1px solid #e1760e;
  border-right: 1px solid #e1760e
}

.chat a {
  padding: 0 10px;
  color: white;

  .fa-comments {
    margin-right: 4px;
  }
}

.local-number {
  margin-left: 20px;
}

.fb-like {
  bottom: 5px;
  margin-left: 6px;
}

.search-box {
  margin: 17px 0 0;
  padding: 0;
  float: right;
  width: 430px;
}

.center {
  text-align: center;
}

footer {
  text-transform: none;

  .footer-top {
    background: linear-gradient(@footer-backcolor-light, @footer-backcolor-dark);
    padding-top: 24px;
    padding-bottom: 16px;
    color: @footer-color;
    font-size: 12px;
    line-height: 18px;

    a {
      color: @footer-color;
    }
  }

  .menu {
    list-style: outside none none;
    padding: 0;

    .footer-block-title {
      font-weight: bold;
    }

    a {
      display: block;
    }
  }

  .footer-bottom {
    background: @highlight-backcolor none repeat scroll 0 0;
    padding-top: 20px;
    color: #fff;

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  .secure-img {
    padding-top: 8px;
    height: 45px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

.btn {
  cursor: pointer;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

div.divot {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: table;
  margin: 0 auto;
  background-color: transparent;
  &.gray { border-top: 20px solid @background-color; }
  &.white { border-top: 20px solid #fff; }
}

@media (max-width: 769px) {
  .local-number, .chat, .fb-like {
    display: none !important;
  }

  footer {
    .copyright {
      margin-bottom: 20px;
    }
    .footer-bottom {
      padding-bottom: 20px;
    }
  }

  #page-content {
    padding-top: 70px;
  }
}

@media (min-width: 770px) {
  .container {
    width: 750px;
  }

  .mobile-number {
    display: none;
  }

  header div.header {
    div.container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 989px) {
  .local-number {
    display: none;
  }
}

@media (max-width: 919px) {
  header div.header div.title { display: none; }
}

@media (min-width: 920px) {
  .container {
    width: 890px;
  }
}

@media (max-width: 1199px) {
  header div.header div.title {
    margin: 12px 0 0 180px;
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
