
@red: #af0000;
@text-light: #eee;
@text-red-shadow: darken(@red, 20%);
@listing-backcolor: #fff;

@quote-border-color: #bebebe;
@quote-backcolor: lighten(@quote-border-color, 20%);

@gray-text: #474747;
@blue-text: #013c8a;

@orange-button-light: #f4911d;
@orange-button-dark: #ea6a02;
@orange-button-shadow: #9c4e02;

@background-color: #eaeaea;

@active-menu-color: #eee;
@active-menu-backcolor: #818181;

@menu-backcolor-light: #747474;
@menu-backcolor-dark: #434343;
@menu-hover-backcolor: @menu-backcolor-light;
@menu-image-hover-backcolor: #999;

@footer-backcolor-light: @menu-backcolor-light;
@footer-backcolor-dark: @menu-backcolor-dark;
@footer-color: #fff;

@highlight-backcolor: #789175;

@h1-color: #546379;
@h2-color: #546379;