/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//.fa-comments:before { content: "\f086" }
//.fa-search:before { content:"\f002" }
//.fa-chevron-circle-down:before { content:"\f13a" }
//.fa-twitter:before { content:"\f099" }
//.fa-facebook:before { content:"\f09a" }
//.fa-google:before { content:"\f1a0" }
//.fa-youtube-play:before { content:"\f16a" }
//.fa-rss:before { content:"\f09e" }
//.fa-check:before { content:"\f00c" }
//.fa-remove:before,.fa-close:before,.fa-times:before { content:"\f00d" }
