
//noinspection CssUnknownTarget
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700';
@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: Goudy;
  src: url(../static/font/GoudyBookletter1911.ttf)
}

@body-font: Lato, 'Open Sans', sans-serif;
@body-font-size: 18px;
@goudy-font: Goudy, 'Droid Serif', serif;
@roboto-font: Roboto, 'Open Sans', sans-serif;

@serif-font: Goudy, 'Droid Serif', serif;
@font-normal: 400;
@font-bold: 700;

body {font: 400 @body-font-size @body-font;}
h1 {font: 600 50px @roboto-font;}
h2 {font: 700 @body-font-size @body-font;}
h3 {font: 400 13px @body-font;}
h4 {font: 600 13px @body-font;}
.serif {font-family: @serif-font;}
input[type=text] {font: 400 16px @body-font}