@import 'colors.less';
@import 'fonts.less';

div.search_listing {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  float: left;
  cursor: pointer;

  background-color: @listing-backcolor;
  border: thin solid #d3d3d3;
  border-radius: 3px;
  background-clip: padding-box;
  color: @gray-text;
  text-transform: uppercase;

  margin: 6px;
  width: 270px !important;
  height: 350px !important;

  &:hover {
    border: thin solid #999;
    box-shadow: 0 0 1px @orange-button-light;
  }

  h3 {
    color: @blue-text;
    font-size: 14px;
    font-weight: @font-bold;
    margin: 0;
  }

  .thumbnail_div {
    position: relative;
    height: 178px !important;

    .listing_img {
      width: ~"calc(100% - 12px)";
      margin: 6px;
    }
    .thumbnail_label {
      display: inline-block;
      position: absolute;
      left: 6px;
      bottom: 3px;
      width: ~"calc(100% - 12px)";
      //noinspection CssUnknownTarget
      background: url("../assets/fade.png") repeat-x;
      height: 40px;
    }
    span {
      position: absolute;
      left: 10px;
      bottom: 8px;
      color: #fff;
      text-shadow: #000 1px 1px 0;
      font-size: 12px;
    }
  }

  .details {
    position: absolute;
    bottom: 0;
    width: 100%;

    .details-button {
      margin-bottom: 6px;
    }

    p { font-size: 13px; }
  }


  .button-red {
    font-size: 14px !important;
    line-height: 17px;
  }

  .cart-label {
    color: @gray-text;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    margin: 6px 0 0;
  }

  .stock-num {
    margin-top: 2px;
  }

  .short-descr {
    margin: 0 12px;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .payment-estimate {
    font-size: 11px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .sold p {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.sold {
  color: #a50000;
  font-weight: @font-bold;
  font-size: 16px;
}

.available {
  color: #008800;
  font-weight: @font-bold;
  font-size: 16px;
}

.button {
  font-size: 13px !important;
  line-height: 15px;
  font-weight: @font-bold;
  text-decoration: none;
  color: @text-light;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 12px 4px;
  margin: 2px;

  &:hover {
    color: @text-light;
  }
}

.lg-button {
  .button;
  font-size: 15px !important;
  line-height: 19px;
  padding: 6px 12px 6px;
}

.button-red {
  .button;
  text-shadow: 1px 1px 0 @text-red-shadow;
  background-color: @red;
}

.button-lg-red {
  .lg-button;
  text-shadow: 1px 1px 0 @text-red-shadow;
  background-color: @red;
}

.button-lg-yellow {
  .lg-button;
  text-shadow: 1px 1px 0 @orange-button-shadow;
  background: linear-gradient(@orange-button-light, @orange-button-dark);
  cursor: pointer;
  color: #fff;
}

a.button-red:hover, a.button-lg-red:hover {
  background-color: lighten(@red, 10%);
  text-decoration: none;
}

input[type=submit].button-lg-yellow:hover, div.button-lg-yellow:hover {
  background-color: @orange-button-dark;
  text-decoration: none;
  color: #fff !important;
}

input[type=submit].button-lg-yellow {
  border: 0;
}

.jssort01 .w, .jssort01 .c {
  box-sizing: content-box;
}

//h1 {
//  font-size: 22px;
//}

h3 {
  font-size: 20px;
}

#cart_quote {
  width: 240px;
  background-color: @quote-backcolor;
  border: thin solid @quote-border-color;
  position: relative;
  float: left;
  margin: 0 0 0 20px;
  display: inline-block;

  table {
    width: 100%;
  }
  table td {
    text-align: center;
    padding: 4px 12px;
  }
  table td input {
    padding: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }

}

@media only screen and (max-width: 845px) {
  #cart_quote {
    margin-top: 12px;
  }
}

@media only screen and (min-width: 701px) {
  .listing-container {
    float: left;
  }
}

@media only screen and (max-width: 700px) {
  .listing-container {
    display: inline-block;
  }
}

@media only screen and (min-width: 571px) {
  #cart_detail {
    display: inline-block;
  }
}

@media only screen and (max-width: 570px) {

  #slider1_container {
    transform: scale(0.83);
    transform-origin: 0 0;
  }

  #cart_quote {
    margin-top: -60px;
  }

  //#cart-features { margin-top: -60px; }
}

@media only screen and (max-width: 480px) {

  #slider1_container {
    transform: scale(0.66);
  }

  #cart_quote {
    margin-top: -140px;
  }

  //#cart-features { margin-top: -140px; }
}

@media only screen and (max-width: 380px) {

  #slider1_container {
    transform: scale(0.59);
  }

  #cart_quote {
    margin-top: -170px;
  }

  //#cart-features { margin-top: -170px; }
}

@media only screen and (max-width: 340px) {

  #slider1_container {
    transform: scale(0.555);
  }

  #cart_quote {
    margin-top: -190px;
  }

  //#cart-features { margin-top: -190px; }
}
