/* Source: https://jsbin.com/seqola/2/edit?html,css,js,output */

/* adjust body when menu is open */
body.slide-active {
  overflow-x: hidden
}

.navbar-header {
  position: relative;

  .navbar-logo {
    float: left;
    height: 50px;
    padding-left: 16px;
    padding-top: 5px;
  }
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
  position: relative
}

#slide-nav {
  border-top: 0;
  z-index: 1000;

  .slide-container {
    margin: 0!important;
    padding: 0!important;
    height:100%;
  }

  &.navbar-inverse #slidemenu {
    background: #333
  }

  .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }

  .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;

    .form-control {
      text-align: center
    }

    .btn {
      width: 100%
    }
  }

  .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }

  #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;

    .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0;

      .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
      }
    }
  }

  .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;

    > .icon-bar {
      width: 100%;
      display: block;
      height: 3px;
      margin: 5px 0 0 0;
    }
  }
}

/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
#navbar-height-col {
  position: fixed;
  top: 0;
  height: 100%;
  bottom:0;
  width: 80%;
  left: -80%;
  background: #f7f7f7;

  &.inverse {
    background: #333;
    z-index: 999;
    border: 0;
  }
}

header {
  nav {
    display: table;
    width: 1000px;
    float: right;
    text-transform: uppercase;

    ul.menu {
      list-style: outside none none;
      padding: 0;
      display: table-row;

      > li {
        color: #fff;
        display: table-cell;
        height: 42px;
        vertical-align: middle;
        position: relative;
        text-align: center;
        font-weight: 700;
        padding: 0 20px;

        &:hover {
          cursor: pointer;
          background-color: @menu-hover-backcolor;
        }

        &.active {

        }
      }

      a {
        color: inherit;
        text-decoration: none;


        &:hover {
          cursor:pointer;
          text-decoration: none;
        }
      }
    }

    ul.dropdown-menu {
      margin: 0;
      padding: 0;

      > li {
        white-space: nowrap;
        padding: 4px 12px;
        background-color: @menu-hover-backcolor;

        > a {
          font-weight: 700;
          font-size: @body-font-size;
        }

        &:hover, a:hover {
          color: inherit;
          cursor: pointer;
          background-color: @menu-backcolor-dark;
        }
      }
    }
  }
}

@media (min-width:768px) {
  #slide-nav { display: none; }
  header { display: block; }
}


@media(max-width: 1199px) {
  header {
    nav {
      width: 700px;
      a, ul.menu li, ul.dropdown-menu a  {
        font-size: 15px !important;
      }

      ul.menu {
        > li {
          padding: 0 10px;
        }
      }
    }
  }
}

@media (max-width: 919px) {
  header {
    nav {
      width: 600px;
    }
  }
}

@media (max-width:767px) {
  #slide-nav { display: block; }
  header { display: none; }
}