
.btn-social, .btn-social-icon {
  white-space: nowrap;
  text-overflow: ellipsis;

  > :first-child { font-size: 1.6em; }

  .fa {
    text-align: center;
    width: 20px;
    margin-right: 10px;
  }
}

a.btn-social-icon {
  height: 36px;
  line-height: 36px;
  padding: 0;
  clear: both;

  div {
    display: inline-block;
    float: left;

    &:hover { text-decoration: underline; }
  }
}
